body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background: #fff;
}
  
#viewerContainer {
  height: 90vh;
  width: fit-content;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: black 3px solid;
  border-radius: 5px;
  background: #fff;
}

#viewer {
  height: 100%;
  width: auto;
  transform-origin: center center;
  transition: transform 0.1s ease;
  display: block;
}
