/* public/styles/base.css */

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background: #caffb1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
