/* public/styles/base.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #caffb1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#makeFlashcardBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  padding: 6px 12px;
  border: 2px solid #111;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 9999;
}

.exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}