/* public/styles/buttons.css */

#selectAreaBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  padding: 6px 12px;
  border: 2px solid #111;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 9999;
}

.exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
