/* public/styles/flashcardCreation.css */

/* ==== Flashcard Form ==== */

#flashcardCreationOverlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  z-index: 10000;
}

#flashcardSnippitPreview {
  margin: 0 0 20px 0;
  border: 5px solid #111;
  border-radius: 5px;
  box-sizing: content-box;
  max-width: 90%;
  user-select: none;
}

.flashcardForm-Container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flashcardForm-Container .inputStep label {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}

.flashcardForm-Container input {
  width: 150px;
  background: #fff;
  font-size: 18px;
  padding: 10px 12px;
  border: 2px solid #111;
  border-radius: 5px;
  font-family: sans-serif;
}

.flashcardForm-Container label {
  user-select: none;
}

.spinnerContainer {
  position: absolute;
  display: none;
  align-items: center;
  transform: translate(0em, 0.8em);
  gap: 10px;
  margin-top: 8px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #333;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

#ocrProgressBar {
  font-size: 18px;
  color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#flashcardDeckSelectionGUI {
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
}

.reviewCardItem {
  margin: 5px 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
}

#flashcardCreation-buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  margin-top: 1em;
}

#flashcardCreation-buttonWrapper #saveDataBtn { 
  background: #fff;
  padding: 6px 12px;
  margin: 0 0 0 0;
  border: 2px solid #111;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  z-index: 9999;
  font-family: sans-serif;
  user-select: none;
  cursor: pointer;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: none;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.2s, opacity 0.2s;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn:hover {
  background-color: #b2ebf2;
  opacity: 0.6;
  transition: background-color 0.2s, opacity 0.2s;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn img {
  transform: rotate(90deg);
  width: 1em;
  height: 1em;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn #doubleCaretIconBlack {
  display: none;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn #doubleCaretIconBlack {
  display: none;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn:hover #doubleCaretIconBlack {
  display: block;
}

#flashcardCreation-buttonWrapper #goBackOneStepBtn:hover #doubleCaretIconWhite {
  display: none;
}
