/* public/styles/forms.css */

.inputStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardDataCollection-Container .inputStep label {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}

.cardDataCollection-Container input {
  width: 150px;
  background: #fff;
  font-size: 18px;
  padding: 10px 12px;
  border: 2px solid #111;
  border-radius: 5px;
  font-family: sans-serif;
}

.cardDataCollection-Container button {
  background: #fff;
  padding: 6px 12px;
  margin-top: 10px;
  border: 2px solid #111;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
  font-family: sans-serif;
}
