/* public/styles/menu.css */

#menuBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.menu {
  background: #fff;
  padding: 6px 12px;
  border: 2px solid #111;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  user-select: none;
}

.submenu {
  display: none;
  position: absolute;
  top: calc(100%);
  left: -1px;
  background: #fff;
  border: 2px solid #111;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  z-index: 10002;
}

.menu > .submenu,
.menuItem > .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.menuItem > .submenu {
  left: 100%;
  top: 0;
}

.menu:hover > .submenu,
.menuItem:hover > .submenu {
  display: block;
}

.menuItem {
  position: relative;
  padding: 6px 12px;
  white-space: nowrap;
}

.menuItem:hover {
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.add-item {
  font-style: italic;
  color: #5d814d;
  font-weight: bold;
  border-top: 1px solid #ccc;
  margin-top: 4px;
  padding-top: 4px;
}

.add-item:hover {
  background: #eef3fc;
  color: #5d814d;
}
