/* public/styles/viewDecksOverlay.css */

#viewDecksOverlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  z-index: 10000;
}

#viewDecksOverlay label {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  user-select: none;
}

#viewDecksOverlay #mainContentWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#mainContentWrapper #chooseDeckToView-Container {
  margin: 0 4em 0 0;
}

#mainContentWrapper #flashcardEditor {
  width: 60%;
  height: 80vh;
  background-color: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
}

#flashcardEditor .flashcard-controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

#flashcardEditor .flashcard-search-bar {
  width: 100%;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1.2em;
  border-radius: 6px;
  background: none;
  border: 1px solid #fff;
  box-sizing: border-box;
}

#flashcardEditor .flashcard-search-bar:hover {
  background-color: rgb(178, 235, 242, 0.2);
}

 #flashcardEditor .flashcard-search-bar:focus {
  background-color: rgb(178, 235, 242, 0.4);
  outline: none;
}

#flashcardEditor .flashcard-search-bar::placeholder {
  color: rgba(255,255,255,0.3);
}

#flashcardEditor .flashcard-filter-bar {
  display: flex;
  gap: 0.5em;
}

#flashcardEditor .flashcard-filter-btn {
  background:none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0.3em 1em;
  cursor: pointer;
  font-size: 0.95em;
  transition: background 0.2s;
}

#flashcardEditor .flashcard-filter-btn:hover {
  background: rgb(178, 235, 242, 0.2);;
}

#flashcardEditor .flashcard-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-height: 0;
  overflow-y: auto;
  flex: 1 1 auto;
  border-top: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

#flashcardEditor .flashcard-list-wrapper::-webkit-scrollbar {
  width: 0px;
}

#flashcardEditor .flashcard-bubble-row {
  display: flex;
  align-items: center;
  height: 1.8em;
  min-height: 1.8em;;
  gap: 0.5em;
  min-width: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5em 1em;
  border-radius: 12px;
  background: rgb(178, 235, 242, 0.1);
}

#flashcardEditor .flashcard-bubble-row::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#flashcardEditor .bubble {
  display: inline-block;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin-right: 0.2em;
  border-radius: 999px;
  background: #fff;
  color: #222;
  font-size: 1.2em;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: not-allowed;
}

#flashcardEditor .img-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.3em;
  height: 1.3em;
  padding: 0em 0em 0em 0em;
  background: none;
  border-radius: 0px;
  color: #333;
}

#flashcardEditor .deck-bubble { 
  background: #499ca7; 
  color: #fff; 
}

#flashcardEditor .front-bubble { 
  background: rgb(178, 235, 242); 
}

#flashcardEditor .pinyin-bubble { 
  background: rgb(240, 240, 240); 
}

#flashcardEditor .rear-bubble { 
  background: rgb(253, 240, 253); 
  /* background: rgb(255, 227, 254);  */
}

#flashcardEditor .snippit-preview-popup {
  position: absolute;
  z-index: 9999;
  width: 120px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.3);
  background: #222;
  top: 2em;
  left: 0;
  pointer-events: none;
}

#flashcardEditor .flashcard-edit-btn,
#flashcardEditor .flashcard-cancel-btn,
#flashcardEditor .flashcard-save-btn
 {
  background: none;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0 0.2em;
  font-size: 1.5em;
  transition: background 0.2s;
  cursor: pointer;
}

#flashcardEditor .flashcard-edit-btn:hover,
#flashcardEditor .flashcard-cancel-btn:hover,
#flashcardEditor .flashcard-save-btn:hover {
  background-color: #fff;
  color: #111;
  transition: background 0.2s;
}